<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conda Hoster</title>
    <style>
      body {
        font-family: sans-serif;
      }
      hr {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      form {
        margin-top: 30px;
        margin-left: 30px;
      }
    </style>
  </head>
  <body>
    <p>
      <p>Usage:</p>
      <ul>
        <li>In Conda:
          <p></p>
          <ul>
            <li>
              Add channels as custom channels in Conda's configuration file according to <a href="https://docs.conda.io/projects/conda/en/latest/configuration.html">Conda configuration</a>
            </li>
            <li>
              URL is <u>http://&lt;url-of-this-page&gt;/&lt;channel&gt;/</u>
            </li>
          </ul>
        </li>
        <p></p>
        <p></p>
        <li>Uploading:
          <p></p>
          <ul>
            <li>
              URL is <u>http://&lt;url-of-this-page&gt;/t/&lt;token&gt;/&lt;channel&gt;/&lt;arch&gt;/</u>
            </li>
            <li>
              Content-Type is multipart/form-data
            </li>
            <li>
              <em>token</em> is one of the tokens in the configuration file.
            </li>
            <li>
              <em>arch</em> is the name of the architecture. Please refer to Conda's documentations.
            </li>
          </ul>
        </li>
      </ul>
    </p>
    <hr>
    </p>
      <p>Available Channels:</p>
      {% if channels.len() > 0 %}
        <ul>
          {% for channel in channels %}
          <li><a href="{{ channel }}/">{{ channel }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <ul><li>There is no available channel yet.</li></ul>
      {% endif %}
    </p>
    <hr>
    <p>
      <p>Upload a package</p>
      <form id="form-upload" method="post">
        <p>
          <label for="token">Token: </label>
          <input type="text" name="token" id="token" required>
        </p>
        <p>
          <label for="channel">Channel: </label>
          <select name="channel" id="channel">
            {% for channel in channels %}
            <option value="{{ channel }}">{{ channel }}</option>
            {% endfor %}
          </select>
        </p>
        <p>
          <label for="arch">Architecture: </label>
          <select name="arch" id="arch">
            <option value="linux-64" selected>linux-64</option>
            <option value="linux-32">linux-32</option>
            <option value="linux-aarch64">linux-aarch64</option>
            <option value="linux-armv6l">linux-armv6l</option>
            <option value="linux-armv7l">linux-armv7l</option>
            <option value="linux-ppc64le">linux-ppc64le</option>
            <option value="osx-64">osx-64</option>
            <option value="win-64">win-64</option>
            <option value="win-32">win-32</option>
            <option value="noarch">noarch</option>
            <option value="zos-z">zos-z</option>
          </select>
        </p>
        <p>
          <label for="file">Package file: </label>
          <input type="file" name="file" id="file" required>
        </p>
        <p>
          <input type="submit" value="Upload">
        </p>
      </form>
    </p>
    <script>
      window.addEventListener("load", function () {
        document.getElementById('form-upload').addEventListener('submit', event => {
          event.preventDefault();

          let token = document.getElementById('token').value;
          let channel = document.getElementById('channel').value;
          let arch = document.getElementById('arch').value;
          let url = 't/' + token + '/' + channel + '/' + arch + '/';
          console.log('url: ' + url);

          let formData = new FormData();
          formData.append('file', document.getElementById('file').files[0]);

          let request = new XMLHttpRequest();
          request.addEventListener("load", e => {
            let message = e.target.status.toString() + ' ' + e.target.statusText;
            if (e.target.responseText.length > 0) {
              message = message + ': ' + e.target.responseText;
            }
            alert(message);
          });
          request.addEventListener("error", e => {
            alert(e.value);
          });
          request.open("POST", url);
          request.send(formData);
        });
      });
    </script>
  </body>
</html>
<!-- vim: sw=2 sts=2 et
-->
